html,
        body {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            overflow: hidden;
            display: flex;
            justify-content: center;
        }

        #render {
            width: 100%;
            height: 100%;
            display: block;
            font-size: 0;
        }

        #gui {
            position: absolute;
            z-index: 2;
            top: 0;
            color: black;
            font-family: sans-serif;
            font-size: 18px;
            box-sizing: border-box;
        }

        button {
            background: rgba(214, 148, 61, 0.1);
            padding: 10px 20px;
            border: 3px solid rgba(214, 148, 60);
            text-transform: uppercase;
            border-radius: 4px;
            color : rgba(214, 148, 60);
            font-size: 18px;
            margin: 15px 0;
            cursor: pointer;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
            transition: 100ms ease-out;
        }

        button.big {
            padding: 15px 30px;
            font-size: 23px;
        }

        [step] {
            z-index: 3;
            display: none;

            .img-divinite {
                border: 5px solid rgba(110, 110, 110, 0.3);
                box-shadow: 2px 3px 9px 4px rgba(0, 0, 0, 0.7);
                display: inline-block;
                border-radius: 5px;
                position: relative;
            }
        }

        #splash {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            pointer-events: none;
            opacity: 0;
            transition: 1000ms ease-out;
            background: rgb(61, 135, 184);
            
            &.active {
                opacity: 1;
            }
        }

        [step=name] {
            margin: 40px;
            top: 0;
            min-width: 350px;
            flex-direction: column;
            background: rgba(255, 255, 255, 0.95);
            padding: 15px;
            border-radius: 4px;

            .players {
                text-align: center;
                flex-direction: row;
                display: flex;

                .divinite-name {
                    background: white;
                    border-radius: 4px;
                    border-top: 5px solid rgb(16, 102, 182);
                    border-bottom: 5px solid rgb(16, 102, 182);
                    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
                    margin: -25px 20px 0 20px;
                    z-index: 2;
                    position: relative;
                }

                .player {
                    
                    display: inline-block;
                    border-radius: 3px;
                    margin: 10px;

                    .pick-divinite {
                        flex-direction: row;
                        display: flex;
                        position: absolute;
                        left: 95px;
                        background: rgba(255, 255, 255, 0.8);
                        z-index: 3;
                        opacity: 0;
                        pointer-events: none;
                        transition: 150ms ease-out;

                        .image {
                            margin: 15px;
                        }

                        &.active {
                            opacity: 1;
                            pointer-events: all;
                        }

                        .proposal {
                            margin: 5px 10px;
                        }
                    }

                    input {

                        padding: 15px 8px;
                        margin: 10px 0 0 0;
                        text-align: center;
                        border: none;
                        font-size: 19px;
                        background: none;
                    }
                }
            }
        }

        [step=joueurs] {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            pointer-events: none;;
            
            .joueur {
                margin: 0 15px;

                .img-divinite {
                    z-index: 3;
                    position: relative;
                    transform: rotateZ(-10deg) translateY(130px);
                    transition: 150ms ease-out;
                    cursor: pointer;
                    pointer-events: all;

                    &:hover {
                        transform: rotateZ(-7deg) translateY(100px);
                    }
                }
                
                .infos {
                    background: rgba(255, 255, 255, 0.95);
                    border-top: 5px solid rgb(16, 102, 182);
                    border-radius: 5px 5px 0 0;
                    padding: 5px 10px;
                    min-width: 250px;
                    z-index: 4;
                    position: relative;

                    .divinite-name {
                        font-size: 16px;
                        color: #444;
                        font-style: italic;
                        font-weight: 200;
                    }

                    .name {
                        font-size: 18px;
                        color: #222;
                        font-weight: 600;
                    }
                }
            }
        }

        [step=action-atlas] button {
            text-transform: uppercase;
            outline: none;

            &.dome {
                border-radius: 40px 40px 2px 2px;
                background: rgb(16, 102, 182);
                color: white;
                border: 3px solid rgba(16, 102, 182, 0.4);
            }

            &.etage {
                border-radius : 4px 4px 2px 2px;
            }
        }

        [step=tour] {
            position: fixed;
            bottom: 0;
            right: 0;
            background: rgba(255, 255, 255, 0.95);
            padding: 6px 10px;
            border-radius: 3px 0 0 0;

            span {
                padding: 0 5px;
                font-weight: bold;

                &.action {
                    color: #24e;
                }

                &.name {
                    color: rgb(197, 72, 0);
                }
            }
        }

        [step=info] {
            position: fixed;
            bottom: 0;
            right: 0;
            background: rgba(255, 255, 255, 0.95);
            padding: 6px 10px;
            border-radius: 3px 0 0 0;
        }

        [step=victory] {
            margin: 40px;
            flex-direction: column;
            top: 0;
            min-width: 350px;
            align-items: center;
            background: rgba(255, 255, 255, 0.95);
            border-radius: 4px;

            h2 {
                text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
            }
        }

        .errors {
            color: red;
            float: right;
        }